body {
    /* background-image: linear-gradient(red, yellow); */
    background-color: #2B303A;

    text-align: center;

}

.fieldCanvas {
    border:1px solid hwb(0 0% 100%);
    float: left;
}


/**
 * This css is used to style the sliders when in create mode
 */
.sliderContainer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-top: 49px;
    margin: 0 auto;
}
  
.sliderContainer input {
    list-style: none;
    flex-basis: 40%;
    color: white;
    margin: 0 auto;
}

.sliderContainer output {
    list-style: none;
    flex-basis: 10%;
    color: white;
    margin: 0 auto;
}

.sliderContainer label {
    list-style: none;
    flex-basis: 40%;
    color: white;
    margin: 0 auto;
}

.sliderContainer button {
    list-style: none;
    flex-basis: 100%;
    /* color: black; */
}


/**
 * This css is used to style the sliders when in debug mode
 */
.debugContainer {
    display: none;
    flex-wrap: wrap;
    padding-left: 0;
    padding-top: 49px;
}

.debugContainer input {
    list-style: none;
    flex-basis: 100%;
    color: white;
}

.debugContainer output {
    list-style: none;
    flex-basis: 10%;
    color: white;
}

.debugContainer label {
    list-style: none;
    flex-basis: 40%;
    color: white;
}

.debugContainer button {
    list-style: none;
    flex-basis: 10%;
    width:50px;
    height:50px;
    font-size:30px;
    /* color: black; */
}


.graph {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25px;
    gap: 25px 25px;
}

.graph canvas {
    width: 60%;
    height: 35%;
    /* border: 1px solid hwb(0 0% 100%); */
}

button {
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #D64933;
    color: #fff;
    color: "#9900FF";

}

range {
    background-image: linear-gradient(-90deg,blue,blue);
}